/*إطار عمل أبوالحمد طه عبدالقادر*/
/*css*/
/*مايو 2023*/


/**/
/**/
.taha1 {
	direction: rtl;
	font-family: Arial ;
	background-image: url(background.jpg);
	margin: 10px auto;
	width: 90%;
	clear: both;
}

/**/
.taha2 {
	
}

/**/
.taha3 {
	
}

/**/
.taha4 {
	
}

/**/
.taha5 {
	
}

/**/
.taha6 {
	
}

/**/
.taha7 {
	
}

/**/
.taha8 {
	
}

/**/
.taha9 {
	
}

/**/
.taha10 {
	
}

/**/
.taha11 {
	
}

/**/
.taha12 {
	
}

/**/
.taha13 {
	
}

/**/
.taha14 {
	
}

/**/
.taha15 {
	
}

/**/
.taha16 {
	
}

/**/
.taha17 {
	
}

/**/
.taha18 {
	
}

/**/
.taha19 {
	
}

/**/
.taha20 {
	
}

/**/
.taha21 {
	
}

/**/
.taha22 {
	
}

/**/
.taha23 {
	
}

/**/
.taha24 {
	
}

/**/
.taha25 {
	
}

/**/
.taha26 {
	
}

/**/
.taha27 {
	
}

/**/
.taha28 {
	
}

/**/
.taha29 {
	
}

/**/
.taha30 {
	
}

/**/
.taha31 {
	
}

/**/
.taha32 {
	
}

/**/
.taha33 {
	
}

/**/
.taha34 {
	
}

/**/
.taha35 {
	
}

/**/
.taha36 {
	
}

/**/
.taha37 {
	
}

/**/
.taha38 {
	
}

/**/
.taha39 {
	
}

/**/
.taha40 {
	
}

/**/
.taha41 {
	
}

/**/
.taha42 {
	
}

/**/
.taha43 {
	
}

/**/
.taha44 {
	
}

/**/
.taha45 {
	
}

/**/
.taha46 {
	
}

/**/
.taha47 {
	
}

/**/
.taha48 {
	
}

/**/
.taha49 {
	
}

/**/
.taha50 {
	
}

/**/
.taha51 {
	
}

/**/
.taha52 {
	
}

/**/
.taha53 {
	
}

/**/
.taha54 {
	
}

/**/
.taha55 {
	
}

/**/
.taha56 {
	
}

/**/
.taha57 {
	
}

/**/
.taha58 {
	
}

/**/
.taha59 {
	
}

/**/
.taha60 {
	
}

/**/
.taha61 {
	
}

/**/
.taha62 {
	
}

/**/
.taha63 {
	
}

/**/
.taha64 {
	
}

/**/
.taha65 {
	
}

/**/
.taha66 {
	
}

/**/
.taha67 {
	
}

/**/
.taha68 {
	
}

/**/
.taha69 {
	
}

/**/
.taha70 {
	
}

/**/
.taha71 {
	
}

/**/
.taha72 {
	
}

/**/
.taha73 {
	
}

/**/
.taha74 {
	
}

/**/
.taha75 {
	
}

/**/
.taha76 {
	
}

/**/
.taha77 {
	
}

/**/
.taha78 {
	
}

/**/
.taha79 {
	
}

/**/
.taha80 {
	
}

/**/
.taha81 {
	
}

/**/
.taha82 {
	
}

/**/
.taha83 {
	
}

/**/
.taha84 {
	
}

/**/
.taha85 {
	
}

/**/
.taha86 {
	
}

/**/
.taha87 {
	
}

/**/
.taha88 {
	
}

/**/
.taha89 {
	
}

/**/
.taha90 {
	
}

/**/
.taha91 {
	
}

/**/
.taha92 {
	
}

/**/
.taha93 {
	
}

/**/
.taha94 {
	
}

/**/
.taha95 {
	
}

/**/
.taha96 {
	
}

/**/
.taha97 {
	
}

/**/
.taha98 {
	
}

/**/
.taha99 {
	
}

/**/
.taha100 {
	
}


/**/
/**/
.taha101 {
	
}

/**/
.taha102 {
	
}

/**/
.taha103 {
	
}

/**/
.taha104 {
	
}

/**/
.taha105 {
	
}

/**/
.taha106 {
	
}

/**/
.taha107 {
	
}

/**/
.taha108 {
	
}

/**/
.taha109 {
	
}

/**/
.taha110 {
	
}

/**/
.taha111 {
	
}

/**/
.taha112 {
	
}

/**/
.taha113 {
	
}

/**/
.taha114 {
	
}

/**/
.taha115 {
	
}

/**/
.taha116 {
	
}

/**/
.taha117 {
	
}

/**/
.taha118 {
	
}

/**/
.taha119 {
	
}

/**/
.taha120 {
	
}

/**/
.taha121 {
	
}

/**/
.taha122 {
	
}

/**/
.taha123 {
	
}

/**/
.taha124 {
	
}

/**/
.taha125 {
	
}

/**/
.taha126 {
	
}

/**/
.taha127 {
	
}

/**/
.taha128 {
	
}

/**/
.taha129 {
	
}

/**/
.taha130 {
	
}

/**/
.taha131 {
	
}

/**/
.taha132 {
	
}

/**/
.taha133 {
	
}

/**/
.taha134 {
	
}

/**/
.taha135 {
	
}

/**/
.taha136 {
	
}

/**/
.taha137 {
	
}

/**/
.taha138 {
	
}

/**/
.taha139 {
	
}

/**/
.taha140 {
	
}

/**/
.taha141 {
	
}

/**/
.taha142 {
	
}

/**/
.taha143 {
	
}

/**/
.taha144 {
	
}

/**/
.taha145 {
	
}

/**/
.taha146 {
	
}

/**/
.taha147 {
	
}

/**/
.taha148 {
	
}

/**/
.taha149 {
	
}

/**/
.taha150 {
	
}

/**/
.taha151 {
	
}

/**/
.taha152 {
	
}

/**/
.taha153 {
	
}

/**/
.taha154 {
	
}

/**/
.taha155 {
	
}

/**/
.taha156 {
	
}

/**/
.taha157 {
	
}

/**/
.taha158 {
	
}

/**/
.taha159 {
	
}

/**/
.taha160 {
	
}

/**/
.taha161 {
	
}

/**/
.taha162 {
	
}

/**/
.taha163 {
	
}

/**/
.taha164 {
	
}

/**/
.taha165 {
	
}

/**/
.taha166 {
	
}

/**/
.taha167 {
	
}

/**/
.taha168 {
	
}

/**/
.taha169 {
	
}

/**/
.taha170 {
	
}

/**/
.taha171 {
	
}

/**/
.taha172 {
	
}

/**/
.taha173 {
	
}

/**/
.taha174 {
	
}

/**/
.taha175 {
	
}

/**/
.taha176 {
	
}

/**/
.taha177 {
	
}

/**/
.taha178 {
	
}

/**/
.taha179 {
	
}

/**/
.taha180 {
	
}

/**/
.taha181 {
	
}

/**/
.taha182 {
	
}

/**/
.taha183 {
	
}

/**/
.taha184 {
	
}

/**/
.taha185 {
	
}

/**/
.taha186 {
	
}

/**/
.taha187 {
	
}

/**/
.taha188 {
	
}

/**/
.taha189 {
	
}

/**/
.taha190 {
	
}

/**/
.taha191 {
	
}

/**/
.taha192 {
	
}

/**/
.taha193 {
	
}

/**/
.taha194 {
	
}

/**/
.taha195 {
	
}

/**/
.taha196 {
	
}

/**/
.taha197 {
	
}

/**/
.taha198 {
	
}

/**/
.taha199 {
	
}

/**/
.taha200 {
	
}


/**/
/**/
.taha201 {
	
}

/**/
.taha202 {
	
}

/**/
.taha203 {
	
}

/**/
.taha204 {
	
}

/**/
.taha205 {
	
}

/**/
.taha206 {
	
}

/**/
.taha207 {
	
}

/**/
.taha208 {
	
}

/**/
.taha209 {
	
}

/**/
.taha210 {
	
}

/**/
.taha211 {
	
}

/**/
.taha212 {
	
}

/**/
.taha213 {
	
}

/**/
.taha214 {
	
}

/**/
.taha215 {
	
}

/**/
.taha216 {
	
}

/**/
.taha217 {
	
}

/**/
.taha218 {
	
}

/**/
.taha219 {
	
}

/**/
.taha220 {
	
}

/**/
.taha221 {
	
}

/**/
.taha222 {
	
}

/**/
.taha223 {
	
}

/**/
.taha224 {
	
}

/**/
.taha225 {
	
}

/**/
.taha226 {
	
}

/**/
.taha227 {
	
}

/**/
.taha228 {
	
}

/**/
.taha229 {
	
}

/**/
.taha230 {
	
}

/**/
.taha231 {
	
}

/**/
.taha232 {
	
}

/**/
.taha233 {
	
}

/**/
.taha234 {
	
}

/**/
.taha235 {
	
}

/**/
.taha236 {
	
}

/**/
.taha237 {
	
}

/**/
.taha238 {
	
}

/**/
.taha239 {
	
}

/**/
.taha240 {
	
}

/**/
.taha241 {
	
}

/**/
.taha242 {
	
}

/**/
.taha243 {
	
}

/**/
.taha244 {
	
}

/**/
.taha245 {
	
}

/**/
.taha246 {
	
}

/**/
.taha247 {
	
}

/**/
.taha248 {
	
}

/**/
.taha249 {
	
}

/**/
.taha250 {
	
}

/**/
.taha251 {
	
}

/**/
.taha252 {
	
}

/**/
.taha253 {
	
}

/**/
.taha254 {
	
}

/**/
.taha255 {
	
}

/**/
.taha256 {
	
}

/**/
.taha257 {
	
}

/**/
.taha258 {
	
}

/**/
.taha259 {
	
}

/**/
.taha260 {
	
}

/**/
.taha261 {
	
}

/**/
.taha262 {
	
}

/**/
.taha263 {
	
}

/**/
.taha264 {
	
}

/**/
.taha265 {
	
}

/**/
.taha266 {
	
}

/**/
.taha267 {
	
}

/**/
.taha268 {
	
}

/**/
.taha269 {
	
}

/**/
.taha270 {
	
}

/**/
.taha271 {
	
}

/**/
.taha272 {
	
}

/**/
.taha273 {
	
}

/**/
.taha274 {
	
}

/**/
.taha275 {
	
}

/**/
.taha276 {
	
}

/**/
.taha277 {
	
}

/**/
.taha278 {
	
}

/**/
.taha279 {
	
}

/**/
.taha280 {
	
}

/**/
.taha281 {
	
}

/**/
.taha282 {
	
}

/**/
.taha283 {
	
}

/**/
.taha284 {
	
}

/**/
.taha285 {
	
}

/**/
.taha286 {
	
}

/**/
.taha287 {
	
}

/**/
.taha288 {
	
}

/**/
.taha289 {
	
}

/**/
.taha290 {
	
}

/**/
.taha291 {
	
}

/**/
.taha292 {
	
}

/**/
.taha293 {
	
}

/**/
.taha294 {
	
}

/**/
.taha295 {
	
}

/**/
.taha296 {
	
}

/**/
.taha297 {
	
}

/**/
.taha298 {
	
}

/**/
.taha299 {
	
}

/**/
.taha300 {
	
}


/**/
/**/
.taha301 {
	
}

/**/
.taha302 {
	
}

/**/
.taha303 {
	
}

/**/
.taha304 {
	
}

/**/
.taha305 {
	
}

/**/
.taha306 {
	
}

/**/
.taha307 {
	
}

/**/
.taha308 {
	
}

/**/
.taha309 {
	
}

/**/
.taha310 {
	
}

/**/
.taha311 {
	
}

/**/
.taha312 {
	
}

/**/
.taha313 {
	
}

/**/
.taha314 {
	
}

/**/
.taha315 {
	
}

/**/
.taha316 {
	
}

/**/
.taha317 {
	
}

/**/
.taha318 {
	
}

/**/
.taha319 {
	
}

/**/
.taha320 {
	
}

/**/
.taha321 {
	
}

/**/
.taha322 {
	
}

/**/
.taha323 {
	
}

/**/
.taha324 {
	
}

/**/
.taha325 {
	
}

/**/
.taha326 {
	
}

/**/
.taha327 {
	
}

/**/
.taha328 {
	
}

/**/
.taha329 {
	
}

/**/
.taha330 {
	
}

/**/
.taha331 {
	
}

/**/
.taha332 {
	
}

/**/
.taha333 {
	
}

/**/
.taha334 {
	
}

/**/
.taha335 {
	
}

/**/
.taha336 {
	
}

/**/
.taha337 {
	
}

/**/
.taha338 {
	
}

/**/
.taha339 {
	
}

/**/
.taha340 {
	
}

/**/
.taha341 {
	
}

/**/
.taha342 {
	
}

/**/
.taha343 {
	
}

/**/
.taha344 {
	
}

/**/
.taha345 {
	
}

/**/
.taha346 {
	
}

/**/
.taha347 {
	
}

/**/
.taha348 {
	
}

/**/
.taha349 {
	
}

/**/
.taha350 {
	
}

/**/
.taha351 {
	
}

/**/
.taha352 {
	
}

/**/
.taha353 {
	
}

/**/
.taha354 {
	
}

/**/
.taha355 {
	
}

/**/
.taha356 {
	
}

/**/
.taha357 {
	
}

/**/
.taha358 {
	
}

/**/
.taha359 {
	
}

/**/
.taha360 {
	
}

/**/
.taha361 {
	
}

/**/
.taha362 {
	
}

/**/
.taha363 {
	
}

/**/
.taha364 {
	
}

/**/
.taha365 {
	
}

/**/
.taha366 {
	
}

/**/
.taha367 {
	
}

/**/
.taha368 {
	
}

/**/
.taha369 {
	
}

/**/
.taha370 {
	
}

/**/
.taha371 {
	
}

/**/
.taha372 {
	
}

/**/
.taha373 {
	
}

/**/
.taha374 {
	
}

/**/
.taha375 {
	
}

/**/
.taha376 {
	
}

/**/
.taha377 {
	
}

/**/
.taha378 {
	
}

/**/
.taha379 {
	
}

/**/
.taha380 {
	
}

/**/
.taha381 {
	
}

/**/
.taha382 {
	
}

/**/
.taha383 {
	
}

/**/
.taha384 {
	
}

/**/
.taha385 {
	
}

/**/
.taha386 {
	
}

/**/
.taha387 {
	
}

/**/
.taha388 {
	
}

/**/
.taha389 {
	
}

/**/
.taha390 {
	
}

/**/
.taha391 {
	
}

/**/
.taha392 {
	
}

/**/
.taha393 {
	
}

/**/
.taha394 {
	
}

/**/
.taha395 {
	
}

/**/
.taha396 {
	
}

/**/
.taha397 {
	
}

/**/
.taha398 {
	
}

/**/
.taha399 {
	
}

/**/
.taha400 {
	
}


/*media query*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.taha1 {
    width: 100%;
	}
 
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.taha1 {
    width: 100%;
	}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.taha1 {
    width: 100%;
	}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.taha1 {
    width: 100%;
	}
  
   
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	.taha1 {
    width: 100%;
	}
   
}
